<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<head>
    <title>Черный список телефонии</title>
</head>
<ul class="menu-main" id="menu">
    <!-- <li><a href="/">Главная</a></li> -->
    <!-- <li><a href="/base_settings">Общие настройки</a></li> -->
    <!-- <li><a href="/incoming_sms">Входящие смс</a></li> -->
    <!-- <li><a href="/balance">Балансы SIM</a></a></li> -->
    <!-- <li><a href="/blacklist">Чёрный список</a></a></li> -->


    

</ul>
<body>
    {% block content %}
    {% endblock %}
</body>

</html>