.input-group-addon.select-input {
    width: 50px;
    padding: 0;
  }
  
  .input-group-addon.select-input select {
    border: none;
    height: 32px;
  }


.input_val{
  width: 50px;
  padding: 0;
  height: 32px;
  border: none;
}

.submit_key{
  width: 100px;
  padding: 0;
  height: 32px;
  /* border: none; */
}

th {
  text-align: center;
}